/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #3E4939;
  --qode-header-light-color: #fff;
  --qode-header-light-hover-color: #fff;
  --qode-header-dark-color: #000;
  --qode-header-dark-hover-color: #000;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Common mixins - begin
   ========================================================================== */
/* ==========================================================================
   Common mixins - end
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - begin
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - end
   ========================================================================== */
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.66667em;
  font-weight: 400;
  color: #3E4939;
  background-color: #ffffff;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 38px;
  line-height: 1.21053em;
  margin: 20px 0;
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover {
  color: var(--qode-main-color);
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 32px;
  line-height: 1.25em;
  margin: 20px 0;
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 a:focus, h2 a:hover {
  color: var(--qode-main-color);
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 25px;
  line-height: 1.52em;
  margin: 20px 0;
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 a:focus, h3 a:hover {
  color: var(--qode-main-color);
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 19px;
  line-height: 1.36842em;
  margin: 20px 0;
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 a:focus, h4 a:hover {
  color: var(--qode-main-color);
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 15px;
  line-height: 1.4em;
  margin: 20px 0;
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 a:focus, h5 a:hover {
  color: var(--qode-main-color);
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3E4939;
  font-size: 13px;
  line-height: 1.38462em;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 a:focus, h6 a:hover {
  color: var(--qode-main-color);
}

a,
p a {
  color: #3E4939;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: var(--qode-main-color);
}

p {
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: #3E4939;
  background-color: #fafafa;
  padding: 45px 80px 56px 66px;
  margin: 25px 0 !important;
  border: none;
  quotes: none;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  blockquote {
    padding: 40px;
  }
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  padding: 45px 80px 56px 66px;
}

blockquote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center;
}

blockquote.wp-block-pullquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 420px;
}

blockquote.has-text-align-right:before {
  left: auto;
  right: 0;
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
